<!-- save this as e.g. src/assets/svg/speech‑blob.svg -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 200" class="speech-cloud-svg">
  <path fill="#fdbe3b" d="
    M 50 150
    Q  80  20 200  50
    Q 350 100 300 200
    Q 250 280 100 220
    Q  20 180  50 150
    Z"/>
</svg>