<div class="bg-white">
  <div class="relative bg-gray-900">
    <!-- Decorative image and overlay -->
    <div aria-hidden="true" class="absolute inset-0 overflow-hidden">
      <img src="/assets/images/donate.png" alt="" class="size-full object-cover" />
    </div>

    <div class="relative mx-auto flex max-w-3xl flex-col items-center px-6 py-32 text-center sm:py-64 lg:px-0">
      <h1 class="text-4xl font-bold tracking-tight text-white lg:text-6xl">Support Our Mission</h1>
      <p class="mt-4 text-xl text-white">Please donate to Training Adam in any way you can. But we especially want building materials donated so we can keep building!</p>
      {% set button_url = "#donate" %}
      {% set button_text = "Donate Today!" %}
      {% include "organic-button-1.njk" %}
    </div>
  </div>
</div>