<div id="hero" class="relative bg-golden-pollen-500 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
      <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
          <h1 class="text-4xl tracking-tight font-extrabold text-olive-bark-900 uppercase font-heading sm:text-5xl md:text-6xl">
            <span class="block xl:inline text-seagrass-500">Being Human is Hard</span>
            <span class="block text-seagrass-500 text-3xl xl:inline font-subheading capitalize">Training Adam Helps</span>
          </h1>
          <p class="mt-3 text-base text-olive-bark-700 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Discover philosophies, time management, and sustainable living through our curated content. Join a community focused on growth and equilibrium.
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="#latest-posts" class="w-full flex items-center justify-center px-8 py-3 border border-solid border-blazing-flame-500 text-base font-heading rounded-md text-blazing-flame-500 bg-transparent hover:bg-blazing-flame-500 hover:text-white uppercase md:py-4 md:text-lg md:px-10">
                Explore Posts
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="#about-us" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-subheading font-subheading font-medium rounded-md text-night-bordeaux-500 bg-golden-pollen-700 hover:bg-golden-pollen-200 md:py-4 md:text-lg md:px-10">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full transform -rotate-6 lg:rotate-0 lg:skew-x-6" src="/assets/images/heroimage.png" alt="Hero Image">
  </div>
</div>
