{% set heading_text = heading_text | default("Heading") %}
{% set heading_level = heading_level | default("h1") %}
{% set organic_background_color = organic_background_color | default("fill-[#F88379]") %}
{% set text_color = text_color | default("text-white") %}
{% set heading_classes = heading_classes | default("text-4xl font-heading uppercase tracking-tight " + text_color) %}
<div class="relative">
  <svg width="600" height="300" viewBox="0 0 600 300" xmlns="http://www.w3.org/2000/svg" class="drop-shadow-lg {{ organic_background_color }}">
    <defs>
      <filter id="rough-heading" x="0%" y="0%" width="100%" height="100%">
        <feTurbulence baseFrequency="0.7" numOctaves="3" result="noise" />
        <feDisplacementMap in="SourceGraphic" in2="noise" scale="2" />
      </filter>
    </defs>
    <path filter="url(#rough-heading)" d="M91,50.4C151.6,43,216.4,47.6,288.6,44.8C360.8,42,440.2,31.6,497,46.8C553.8,62,588,102.8,580.8,141C573.6,179.2,525,214.8,464.2,223.8C403.4,232.8,330.4,215.2,261.6,212.6C192.8,210,128.2,222.4,80.2,209C32.2,195.6,0.8,156.4,0.2,117.8C-0.4,79.2,30.4,57.8,91,50.4Z" />
  </svg>
  <{{ heading_level }} class="absolute top-1/3 left-1/2 -translate-x-1/2 -translate-y-1/2 {{ heading_classes }}">{{ heading_text }}</{{ heading_level }}>
</div>