---
title: Blog
layout: layout.njk
pagination:
  data: posts
  size: 5
  alias: pagedPosts
eleventyComputed:
  permalink: "{% if pagination.pageNumber == 0 %}/blog/{% else %}/blog/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% include "posts/blog-home-layout.njk" %}
