<div class="overflow-hidden  py-24 sm:py-32 ">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="max-w-4xl">
      <p class="text-2xl font-subheading text-{{ branch.colors.accent }}">This Initiative:</p>
      <h1 class="mt-2 text-4xl font-heading font-semibold tracking-tight text-pretty text-{{ branch.colors.mainHeading }} sm:text-5xl "> {{ branch.tagline }}</h1>
      <p class="mt-6 text-xl font-black  text-balance text-{{ branch.colors.mainHeading }}">{{ branch.description }}</p>
    </div>
    <section class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16">
      <div class="lg:pr-8">
        <h2 class="text-4xl uppercase font-hand font-black tracking-tight text-pretty text-{{ branch.colors.accent }}">Our Goal is {{ branch.missionTitle }}</h2>
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          {% for feature in branch.branchFeatures %}
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900 text-white">
              <div class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-{{ branch.colors.mainHeading }}">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-{{ branch.colors.background }}">
                  <path d="{{ feature.icon }}" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <span class="font-subheading text-{{branch.colors.accent}} text-2xl">{{ feature.short }}</span>
            </dt>
            <dd class="mt-2 text-base/7  text-{{ branch.colors.mainHeading }} font-bold">{{ feature.description }}</dd>
          </div>
          {% endfor %}
        </dl>
      </div>
      <!-- <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto">
        <div class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 xl:gap-8">
          <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 shadow-none outline-white/10">
            <img src="https://picsum.photos/560/560" alt="" class="block size-full object-cover" />
          </div>
          <div class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40 shadow-none outline-white/10">
            <img src="https://picsum.photos/560/560" alt="" class="block size-full object-cover" />
          </div>
          <div class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 shadow-none outline-white/10">
            <img src="https://picsum.photos/560/560" alt="" class="block size-full object-cover" />
          </div>
          <div class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40 shadow-none outline-white/10">
            <img src="https://picsum.photos/560/560" alt="" class="block size-full object-cover" />
          </div>
        </div>
      </div> -->
      <div class="max-lg:mt-16 lg:col-span-1">
        <p class="text-6xl font-heading uppercase text-{{ branch.colors.accent }}">Our Number Goals</p>
        <hr class="mt-6 border-t border-gray-200 border-gray-700" />
        <dl class="mt-6 grid grid-cols-1 gap-x-8 gap-y-4 sm:grid-cols-2">
          <div class="flex flex-col gap-y-2 border-b border-dotted border-gray-200 pb-4 border-gray-700">
            <dt class="text-lg font-subheading font-semibold text-{{ branch.colors.accent}}">To Raise</dt>
            <dd class="order-first font-hand text-8xl font-semibold tracking-tight text-{{ branch.colors.mainHeading }}">$<span>{{ branch.stats.raised }}</span></dd>
          </div>
          <div class="flex flex-col gap-y-2 border-b border-dotted border-gray-200 pb-4 border-gray-700">
            <dt class="text-lg font-subheading font-semibold text-{{ branch.colors.accent}}">Company Sponsors</dt>
            <dd class="order-first font-hand text-8xl font-semibold tracking-tight text-{{ branch.colors.mainHeading }}"><span>{{ branch.stats.companies }}</span></dd>
          </div>
          <div class="flex flex-col gap-y-2 max-sm:border-b max-sm:border-dotted max-sm:border-gray-200 max-sm:pb-4 max-sm:border-gray-700">
            <dt class="text-lg font-subheading font-semibold text-{{ branch.colors.accent}}">Branches Completed</dt>
            <dd class="order-first font-hand text-8xl font-semibold tracking-tight text-{{ branch.colors.mainHeading }}"><span>{{ branch.stats.dealsClosed }}</span></dd>
          </div>
          <div class="flex flex-col gap-y-2">
            <dt class="text-lg font-subheading font-semibold text-{{ branch.colors.accent}}">Volunteers</dt>
            <dd class="order-first font-hand text-8xl font-semibold tracking-tight text-{{ branch.colors.mainHeading }}"><span>{{ branch.stats.leadsGenerated }}</span></dd>
          </div>
        </dl>
      </div>
    </section>
  </div>
</div>