<section id="branch-{{ branch.name | slug }}" class="bg-{{ branch.colors.background }}">
  {% include "branch-section/branch-section-heading.njk" %}
  {% include "branch-section/branch-section-content-preview.njk" %}
  {% include "branch-section/branch-section-cta.njk" %}
</section>