

<div class="bg-{{ branch.colors.background }} px-6 pt-2 pb-0 relative">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-6xl sm:text-8xl font-semibold tracking-tight text-{{branch.colors.mainHeading}} font-heading uppercase">{{ branch.name }}</h2>
  </div>
  <a href="/{{ branch.name | slug }}/" class="absolute bottom-4 right-4 text-base font-semibold text-{{ branch.colors.accent }} hover:underline">see more!</a>
</div>
{% if branch.headingImage %}
<figure class="heading-banner-image w-full m-0 bg-{{ branch.colors.background }}">
  <img src="{{ branch.headingImage }}" alt="{{ branch.name }}" class="w-full h-auto block" />
</figure>
{% endif %}