@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Rubik Black for h1 */
.rubik-black {
	font-family: 'Rubik', ui-sans-serif, system-ui, sans-serif;
	font-weight: 900;
}
.brand-adam{
	text-transform: uppercase;
	transform: rotate(90deg);
	transform-origin: right bottom;
	display: inline-block;
	font-size: .75rem;

}
