---
title: Donate
layout: layout.njk
---

{% include "donate-button.njk" %}
{% include "donate-preview.njk" %}

<div id="donate" class="prose mx-auto my-16">
  <h2>Support Training Adam</h2>
  <p>Please consider contributing toward our projects. Donations of building materials are especially helpful, but any support is appreciated.</p>
  <p>You can send funds via PayPal or mail supplies to our address listed on the contact page.</p>
</div>
