---
title: Donate
layout: layout.njk
---

<main class="isolate bg-white">
    <!-- Hero section -->
    <div class="relative isolate -z-10 overflow-hidden ">
        <div class="mx-auto max-w-7xl px-6 py-32 sm:py-40 lg:px-8">
            <div
                class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-8 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
                <h2 class="section-heading-small lg:col-span-2 text-blazing-flame-500 font-semibold">Donate. Give.
                    Share. Touch.</h2>
                <h1
                    class="max-w-2xl text-5xl font-semibold tracking-tight text-balance text-seagrass-500 sm:text-7xl lg:col-span-2 xl:col-auto uppercase section-heading-large">
                    help us build human healing</h1>
                <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
                    <p class="text-lg font-bold text-pretty text-black sm:text-xl/8 ">Being human is hard. <span
                            class="font-heading text-blazing-flame-500 font-light text-2xl">TRAINING ADAM</span> is here
                        to help. We love humans. We think a missing approach in human healing is the outer life. We love
                        humans for the soil to the soul. We love humans from the outside in.</p>

                </div>
                <img src="/assets/images/donatemain.png" alt=""
                    class="mt-10 aspect-6/5 w-full max-w-lg rounded-2xl object-cover outline-1 -outline-offset-1 outline-black/5 sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36 dark:outline-white/10" />
            </div>
            <div class="absolute inset-x-0 bottom-0 -z-10 h-24 "></div>
        </div>

        <!-- Timeline section -->
        <div class="mx-auto -mt-8 max-w-7xl px-6 lg:px-8 donate-timeline">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4">
                <div>
                    <time datetime="2025-10" class="donate-timeline-heading ">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        SHEDS
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build Sheds. <br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            OLD SHEDS
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            nails, screws
                        </li>
                        <li>
                            recycled building materials
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>

                    <img src="/assets/images/shed.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text">We build create, beautiful sheds with heart. They can be used for a man-cave, a
                        children's play area, contemplation garden shelters and so much more!</p>

                </div>
                <div>
                    <time datetime="2025-11" class="donate-timeline-heading">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        FURNITURE
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build furniture.<br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            old wooden furniture
                        </li>
                        <li>
                            pallets and fencing
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            unused plants & trees
                        </li>
                        <li>
                            soil & mulch
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>
                    <img src="/assets/images/planter.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text"> We want to build outdoor furniture and help beautify the human experience
                        outdoors! We love micro furniture, space-saving furniture, and multiple use furniture (seating
                        that is also a planter and drink holder anyone?)</p>
                </div>
                <div>
                    <time datetime="2025-12" class="donate-timeline-heading">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        GARDENS
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build gardens.<br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            OLD SHEDS
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            nails, screws
                        </li>
                        <li>
                            recycled building materials
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>
                    <img src="/assets/images/garden.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text">We want to green humanity! Touch the soil and touch the soul! We plant
                        permaculture food forests, and we help create edible beauty for all seasons. We are crazy about
                        perennials.</p>
                </div>
                <div>
                    <time datetime="2026-01" class="donate-timeline-heading">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        VILLAGES
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build villages.<br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            OLD SHEDS
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            nails, screws
                        </li>
                        <li>
                            recycled building materials
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>
                    <img src="/assets/images/village.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text">We want to rewild humanity! Help us establish villages for healing and a new
                        start. We want to relase humans from captivity, and into the wilds of alternative living. We
                        want to help those who are addicted, ill, and struggling build a balanced life with a
                        human-sized footprint. Tiny is dignified and tiny is human!</p>
                </div>
            </div>
        </div>

       
    </div>

</main>