---
title: Donate
layout: layout.njk
---

<main class="isolate bg-white">
    <!-- Hero section -->
    <div class="relative isolate -z-10 overflow-hidden ">
        <div class="mx-auto max-w-7xl px-6 py-32 sm:py-40 lg:px-8">
            <div
                class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-8 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
                <h2 class="section-heading-small lg:col-span-2 text-blazing-flame-500 font-semibold">Donate. Give.
                    Share. Touch.</h2>
                <h1
                    class="max-w-2xl text-5xl font-semibold tracking-tight text-balance text-seagrass-500 sm:text-7xl lg:col-span-2 xl:col-auto uppercase section-heading-large">
                    help us build human healing</h1>
                <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
                    <p class="text-lg font-bold text-pretty text-black sm:text-xl/8 ">Being human is hard. <span class="font-heading text-blazing-flame-500 font-light text-2xl">TRAINING ADAM</span> is here
                        to help. We love humans. We think a missing approach in human healing is the outer life. We love
                        humans for the soil to the soul. We love humans from the outside in.</p>

                </div>
                <img src="/assets/images/donatemain.png" alt=""
                    class="mt-10 aspect-6/5 w-full max-w-lg rounded-2xl object-cover outline-1 -outline-offset-1 outline-black/5 sm:mt-16 lg:mt-0 lg:max-w-none xl:row-span-2 xl:row-end-2 xl:mt-36 dark:outline-white/10" />
            </div>
            <div class="absolute inset-x-0 bottom-0 -z-10 h-24 "></div>
        </div>

        <!-- Timeline section -->
        <div class="mx-auto -mt-8 max-w-7xl px-6 lg:px-8 donate-timeline">
            <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4">
                <div>
                    <time datetime="2025-10" class="donate-timeline-heading ">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        SHEDS
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build Sheds. <br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            OLD SHEDS
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            nails, screws
                        </li>
                        <li>
                            recycled building materials
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>

                    <img src="/assets/images/shed.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text">We build create, beautiful sheds with heart. They can be used for a man-cave, a
                        children's play area, contemplation garden shelters and so much more!</p>

                </div>
                <div>
                    <time datetime="2025-11" class="donate-timeline-heading">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        FURNITURE
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build furniture.<br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            old wooden furniture
                        </li>
                        <li>
                            pallets and fencing
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            unused plants & trees
                        </li>
                        <li>
                            soil & mulch
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>
                    <img src="/assets/images/planter.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text"> We want to build outdoor furniture and help beautify the human experience
                        outdoors! We love micro furniture, space-saving furniture, and multiple use furniture (seating
                        that is also a planter and drink holder anyone?)</p>
                </div>
                <div>
                    <time datetime="2025-12" class="donate-timeline-heading">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        GARDENS
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build gardens.<br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            OLD SHEDS
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            nails, screws
                        </li>
                        <li>
                            recycled building materials
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>
                    <img src="/assets/images/garden.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text">We want to green humanity! Touch the soil and touch the soul! We plant
                        permaculture food forests, and we help create edible beauty for all seasons. We are crazy about
                        perennials.</p>
                </div>
                <div>
                    <time datetime="2026-01" class="donate-timeline-heading">
                        <svg viewBox="0 0 4 4" aria-hidden="true" class="mr-4 size-1 flex-none">
                            <circle r="2" cx="2" cy="2" fill="currentColor" />
                        </svg>
                        VILLAGES
                        <div aria-hidden="true"
                            class="absolute -ml-2 h-2 w-screen -translate-x-full bg-seagrass-500 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0 dark:bg-white/15">
                        </div>
                    </time>
                    <p class="heading">Help us build villages.<br><strong>WE'LL TAKE:</strong></p>
                    <ul>
                        <li>
                            OLD SHEDS
                        </li>
                        <li>
                            unused lumber and wood
                        </li>
                        <li>
                            nails, screws
                        </li>
                        <li>
                            recycled building materials
                        </li>
                        <li>
                            cash
                        </li>
                    </ul>
                    <img src="/assets/images/village.jpg" alt=""
                        class="aspect-2/3 w-1/2  lg:w-full rounded-xl bg-gray-900/5 object-cover shadow-lg dark:bg-gray-700/5 mt-6" />
                    <p class="time-text">We want to rewild humanity! Help us establish villages for healing and a new
                        start. We want to relase humans from captivity, and into the wilds of alternative living. We
                        want to help those who are addicted, ill, and struggling build a balanced life with a
                        human-sized footprint. Tiny is dignified and tiny is human!</p>
                </div>
            </div>
        </div>

        <div class="bg-golden-pollen-700 mt-32">
            <div class="px-6 py-24 sm:py-32 lg:px-8">
                <div class="mx-auto max-w-2xl text-center">
                    <h2
                        class="text-6xl font-semibold tracking-tight text-balance uppercase sm:text-7xl font-heading  text-blazing-flame-500">
                       Call Today! <br/>
                       <strong class="font-subheading font-black lowercase  text-4xl text-black leading-tight block">We will come pick up donations!</strong></h2>
                    <p class="mx-auto mt-6 max-w-xl text-4xl text-pretty text-black font-black block leading-tight">We cover the Sea Islands and greater Charleston area.</p>
                    <strong class="text-5xl font-heading text-seagrass-600 mt-4 block">843.408.6280</strong>

                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="tel:8434086280" class="rounded-md bg-blazing-flame-500 px-3.5 py-2.5 text-sm font-heading uppercase text-white shadow-xs hover:bg-seagrass-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-seagrass-700 dark:bg-seagrass-600 dark:shadow-none dark:hover:bg-seagrass-600 dark:focus-visible:outline-seagrass-600">Help Training Adam Today!</a>
                        
                            <a href="mailto:jsinkcreations@gmail.com" class="text-sm/6 font-semibold font-subheading text-gray-900 dark:text-white">Email instead <span
                                aria-hidden="true">→</span></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- CTA section -->
        <div class="mt-32 overflow-hidden sm:mt-40">
            <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
                <div
                    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:max-w-none lg:min-w-full lg:flex-none lg:gap-y-8">
                    <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
                        <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl dark:text-white">Our
                            people</h2>
                        <p class="mt-6 text-xl/8 text-gray-700 dark:text-gray-300">Quasi est quaerat. Sit molestiae et.
                            Provident ad dolorem occaecati eos iste. Soluta rerum quidem minus ut molestiae velit error
                            quod. Excepturi quidem expedita molestias quas.</p>
                        <p class="mt-6 text-base/7 text-gray-600 dark:text-gray-400">Anim aute id magna aliqua ad ad non
                            deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat
                            fugiat. Quasi aperiam sit non sit neque reprehenderit.</p>
                    </div>
                    <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
                        <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
                            <img src="https://images.unsplash.com/photo-1670272502246-768d249768ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=80"
                                alt=""
                                class="aspect-7/5 w-148 max-w-none rounded-2xl bg-gray-50 object-cover max-sm:w-120 dark:bg-gray-800" />
                        </div>
                        <div
                            class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-148 lg:items-start lg:justify-end lg:gap-x-8">
                            <div class="order-first flex w-64 flex-none justify-end self-end max-sm:w-40 lg:w-auto">
                                <img src="https://images.unsplash.com/photo-1605656816944-971cd5c1407f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&h=604&q=80"
                                    alt=""
                                    class="aspect-4/3 w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover dark:bg-gray-800" />
                            </div>
                            <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
                                <img src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&h=842&q=80"
                                    alt=""
                                    class="aspect-7/5 w-148 max-w-none flex-none rounded-2xl bg-gray-50 object-cover max-sm:w-120 dark:bg-gray-800" />
                            </div>
                            <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
                                <img src="https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&h=604&q=80"
                                    alt=""
                                    class="aspect-4/3 w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover dark:bg-gray-800" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats -->
        <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl dark:text-white">
                    We approach work as a place to make the world better</h2>
                <p class="mt-6 text-base/7 text-gray-600 dark:text-gray-300">Diam nunc lacus lacus aliquam turpis enim.
                    Eget hac velit est euismod lacus. Est non placerat nam arcu. Cras purus nibh cursus sit eu in id.
                    Integer vel nibh.</p>
            </div>
            <div
                class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end">
                <div
                    class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-50 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start dark:bg-white/5 dark:inset-ring dark:inset-ring-white/10">
                    <p class="flex-none text-3xl font-bold tracking-tight text-gray-900 dark:text-white">250k</p>
                    <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
                        <p class="text-lg font-semibold tracking-tight text-gray-900 dark:text-white">Users on the
                            platform</p>
                        <p class="mt-2 text-base/7 text-gray-600 dark:text-gray-300">Vel labore deleniti veniam
                            consequuntur sunt nobis.</p>
                    </div>
                </div>
                <div
                    class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-900 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44 dark:bg-gray-700 dark:inset-ring dark:inset-ring-white/10">
                    <p class="flex-none text-3xl font-bold tracking-tight text-white">$8.9 billion</p>
                    <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
                        <p class="text-lg font-semibold tracking-tight text-white">We’re proud that our customers have
                            made over $8 billion in total revenue.</p>
                        <p class="mt-2 text-base/7 text-gray-400 dark:text-gray-300">Eu duis porta aliquam ornare.
                            Elementum eget magna egestas.</p>
                    </div>
                </div>
                <div
                    class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-indigo-600 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28 dark:inset-ring dark:inset-ring-white/10">
                    <p class="flex-none text-3xl font-bold tracking-tight text-white">401,093</p>
                    <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
                        <p class="text-lg font-semibold tracking-tight text-white">Transactions this year</p>
                        <p class="mt-2 text-base/7 text-indigo-200 dark:text-indigo-100">Eu duis porta aliquam ornare.
                            Elementum eget magna egestas. Eu duis porta aliquam ornare.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blog section -->
        <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
            <div
                class="mx-auto flex max-w-2xl flex-col items-end justify-between gap-16 lg:mx-0 lg:max-w-none lg:flex-row">
                <div class="w-full lg:max-w-lg lg:flex-auto">
                    <h2
                        class="text-3xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-4xl dark:text-white">
                        We’re always looking for awesome people to join us</h2>
                    <p class="mt-6 text-xl/8 text-gray-600 dark:text-gray-400">Diam nunc lacus lacus aliquam turpis
                        enim. Eget hac velit est euismod lacus. Est non placerat nam arcu. Cras purus nibh cursus sit eu
                        in id.</p>
                    <img src="https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1344&h=1104&q=80"
                        alt=""
                        class="mt-16 aspect-6/5 w-full rounded-2xl object-cover outline-1 -outline-offset-1 outline-black/5 lg:aspect-auto lg:h-138 dark:outline-white/10" />
                </div>
                <div class="w-full lg:max-w-xl lg:flex-auto">
                    <h3 class="sr-only">Job openings</h3>
                    <ul class="-my-8 divide-y divide-gray-100 dark:divide-gray-800">
                        <li class="py-8">
                            <dl class="relative flex flex-wrap gap-x-3">
                                <dt class="sr-only">Role</dt>
                                <dd
                                    class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
                                    <a href="#">
                                        Full-time designer
                                        <span aria-hidden="true" class="absolute inset-0"></span>
                                    </a>
                                </dd>
                                <dt class="sr-only">Description</dt>
                                <dd class="mt-2 w-full flex-none text-base/7 text-gray-600 dark:text-gray-400">Quos sunt
                                    ad dolore ullam qui. Enim et quisquam dicta molestias. Corrupti quo voluptatum
                                    eligendi autem labore.</dd>
                                <dt class="sr-only">Salary</dt>
                                <dd class="mt-4 text-base/7 font-semibold text-gray-900 dark:text-white">$75,000 USD
                                </dd>
                                <dt class="sr-only">Location</dt>
                                <dd class="mt-4 flex items-center gap-x-3 text-base/7 text-gray-500 dark:text-gray-400">
                                    <svg viewBox="0 0 2 2" aria-hidden="true"
                                        class="size-0.5 flex-none fill-gray-300 dark:fill-gray-600">
                                        <circle r="1" cx="1" cy="1" />
                                    </svg>
                                    San Francisco, CA
                                </dd>
                            </dl>
                        </li>
                        <li class="py-8">
                            <dl class="relative flex flex-wrap gap-x-3">
                                <dt class="sr-only">Role</dt>
                                <dd
                                    class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
                                    <a href="#">
                                        Laravel developer
                                        <span aria-hidden="true" class="absolute inset-0"></span>
                                    </a>
                                </dd>
                                <dt class="sr-only">Description</dt>
                                <dd class="mt-2 w-full flex-none text-base/7 text-gray-600 dark:text-gray-400">Et veniam
                                    et officia dolorum rerum. Et voluptas consequatur magni sapiente amet voluptates
                                    dolorum. Ut porro aut eveniet.</dd>
                                <dt class="sr-only">Salary</dt>
                                <dd class="mt-4 text-base/7 font-semibold text-gray-900 dark:text-white">$125,000 USD
                                </dd>
                                <dt class="sr-only">Location</dt>
                                <dd class="mt-4 flex items-center gap-x-3 text-base/7 text-gray-500 dark:text-gray-400">
                                    <svg viewBox="0 0 2 2" aria-hidden="true"
                                        class="size-0.5 flex-none fill-gray-300 dark:fill-gray-600">
                                        <circle r="1" cx="1" cy="1" />
                                    </svg>
                                    San Francisco, CA
                                </dd>
                            </dl>
                        </li>
                        <li class="py-8">
                            <dl class="relative flex flex-wrap gap-x-3">
                                <dt class="sr-only">Role</dt>
                                <dd
                                    class="w-full flex-none text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
                                    <a href="#">
                                        React Native developer
                                        <span aria-hidden="true" class="absolute inset-0"></span>
                                    </a>
                                </dd>
                                <dt class="sr-only">Description</dt>
                                <dd class="mt-2 w-full flex-none text-base/7 text-gray-600 dark:text-gray-400">Veniam
                                    ipsam nisi quas architecto eos non voluptatem in nemo. Est occaecati nihil omnis
                                    delectus illum est.</dd>
                                <dt class="sr-only">Salary</dt>
                                <dd class="mt-4 text-base/7 font-semibold text-gray-900 dark:text-white">$105,000 USD
                                </dd>
                                <dt class="sr-only">Location</dt>
                                <dd class="mt-4 flex items-center gap-x-3 text-base/7 text-gray-500 dark:text-gray-400">
                                    <svg viewBox="0 0 2 2" aria-hidden="true"
                                        class="size-0.5 flex-none fill-gray-300 dark:fill-gray-600">
                                        <circle r="1" cx="1" cy="1" />
                                    </svg>
                                    San Francisco, CA
                                </dd>
                            </dl>
                        </li>
                    </ul>
                    <div class="mt-8 flex border-t border-gray-100 pt-8 dark:border-gray-800">
                        <a href="#"
                            class="text-sm/6 font-semibold text-indigo-600 hover:text-seagrass-600 dark:text-indigo-400 dark:hover:text-indigo-300">View
                            all openings <span aria-hidden="true">&rarr;</span></a>
                    </div>
                </div>
            </div>
        </div>
</main>