---
title: Home
layout: layout.njk
---
{% include "donate-button.njk" %}
{% include "hero.njk" %}
{% include "latest-posts.njk" %}
{% include "about-us.njk" %}
{% include "donate-preview.njk" %}
{% set project = projects.shedlite %}
{% include "project-section/project-section.njk" %}
{% set project = projects.permacultureplantssc %}
{% include "project-section/project-section.njk" %}
{% set project = projects.tinyvillagehealingfarms %}
{% include "project-section/project-section.njk" %}
{% include "contact.njk" %}

