---
title: Home
layout: layout.njk
---
{% include "donate-button.njk" %}
{% include "hero.njk" %}
{% include "latest-posts.njk" %}
{% include "about-us.njk" %}
{% include "shed-light-build.njk" %}
{% include "permaculture-plants.njk" %}
{% include "village.njk" %}
{% include "contact.njk" %}

