<section id="project-{{ project.name | slug }}">
  {% include "project-section/project-section-heading.njk" %}
  {% include "project-section/project-section-content-preview.njk" %}
  {% include "project-section/project-section-cta.njk" %}
</section>